<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="css/manage.css">
    <title>Gerenciar Professores</title>
</head>

<body>
      <%- include("./partials/header.ejs") %>
    <main>
      <%- ExibirProfessor %> 
        <%- include("./partials/CadastrarPessoa.ejs")  %> 
    </main>
      <%- include("./partials/footer.ejs") %>
      <script src="js/GerenciarProfessores.js"></script>
</body>

</html>