<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <title>Gerenciar Cursos</title>
</head>

<body>
    <style>
        tbody tr:nth-child(2n) {
            background-color: #D1D5DB;
        }
    </style>
    <%- include("./partials/header.ejs") %>

    <main style="min-height: 68vh;">
        <div class="flex items-center justify-start z-100  ml-20 mt-6 mb-4">
            <button id="Adicionar" class="flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-900 w-14 h-14" viewBox="0 0 20 20" fill="currentColor">
  <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
  <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11h4m-2-2v4" />
</svg>
                <h1 class="font-semibold text-2xl text-gray-900">Criar Curso:</h1>
            </button>
        </div>

        <div class="w-full h-full flex items-center justify-center">
            <table class="w-11/12">
                <thead class="bg-gray-900 border-collapse text-white h-8">
                    <tr>
                        <th id="id">Id</th>
                        <th id="curso">Curso</th>
                        <th id="professores">Professoras</th>
                        <th id="diasdeaula">Dias De Aula</th>
                        <th id="horarios">Horários</th>
                        <th id="alunosmatriculados">Alunos Matriculados</th>
                        <th id="operações">Operações</th>
                    </tr>
                </thead>
                <tbody>
                    <%- ExibirCurso %>
                </tbody>
            </table>
        </div>

        <%- include("./partials/CadastrarCruso.ejs")  %>
        <%- include("./partials/DeletarCurso.ejs") %>
    </main>

    <%- include("./partials/footer.ejs") %>
    <script src="js/GerenciarCursos.js"></script>
</body>

</html>